:root {
    --text-color: black;
    --main-color: #00ff84;
    --gray: #6c757d;
    --secondary-color: #e3354f;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


/*HEADER*/

header {
    background-color: var(--main-color);
    padding: 1rem;
}

.header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 a {
    text-decoration: none;
    color: var(--text-color);
}

.header--search-bar {
    width: 25vw;
}

.header--search-bar input {
    padding: 1rem;
    width: 80%;
    /* min-width: 30rem; */
    display: inline-block;
}

#list-check {
    display: none;
}

.navigation {
    position: absolute;
    right: -100%;
    top: 0;
    list-style: none;
    background-color: var(--secondary-color);
}

@keyframes MoveLeft {
    0% {
        right: -40%;
    }
    20% {
        right: -30%;
    }
    60% {
        right: -20%;
    }
    80% {
        right: -10%;
    }
    100% {
        right: 0;
    }
}

#list-check:checked~.navigation {
    /* right: 0; */
    /* transition: right 3s ease-in; */
    animation: MoveLeft .5s ease-in-out;
    right: 0;
}

.navigation--list a {
    color: white;
    text-decoration: none;
    margin: 1rem;
}

@media (min-width: 768px) {
    #list-label {
        display: none;
    }
    .navigation {
        right: 0;
        position: relative;
        background-color: var(--main-color);
        width: 40%;
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        gap: 3rem;
    }
    .navigation--list a {
        color: var(--text-color);
    }
}

.navigation--list a:hover {
    text-decoration: underline;
}

.slide {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 55rem;
}

.slide--img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 500px;
    opacity: 0;
    transition: opacity 3s ease;
    cursor: pointer;
}

.slide ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.slide--element input {
    position: relative;
    z-index: 3;
}

#button1:checked~.slide--img {
    opacity: 1;
}

#button2:checked~.slide--img {
    opacity: 1;
}

#button3:checked~.slide--img {
    opacity: 1;
}

.content-page {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.about--info {
    text-align: justify;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.sidebar--list {
    list-style: none;
}

.sidebar--element {
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.sidebar--img-container {
    height: 10rem;
    /* position: relative;
    float: left; */
}

.sidebar--img-container img {
    height: 100%;
    width: 15rem;
}

.sidebar--element a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .content-page {
        display: flex;
        gap: 2rem;
    }
    .about {
        flex: 3;
    }
    .content-page--sidebar {
        flex: 1;
    }
}

.footer {
    background-color: var(--gray);
    padding: 2rem;
    text-align: center;
}